# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos / secretos
.env
*.env

# Editores / SO
.vscode/
.idea/
.DS_Store

# Temporales
*.log
*.pot~
*.swp

# Odoo assets compilados
/static/src/**/*.min.js
/static/src/**/*.min.css